version: "3.8"
services:
  zookeeper:
    image: bitnami/zookeeper:latest
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  kafka:
    image: bitnami/kafka:latest
    environment:
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper

  mongo:
    image: mongo:6
    ports: ["27017:27017"]
    volumes:
      - mongo-data:/data/db

  api:
    build:
      context: .
      dockerfile: src/api/Dockerfile
    ports: ["8000:8000", "8002:8002"]
    environment:
      - KAFKA_BOOTSTRAP=kafka:9092
      - MONGO_URI=mongodb://mongo:27017
    depends_on: ["kafka", "mongo"]

  scraper1:
    build:
      context: .
      dockerfile: src/scraper/Dockerfile
    environment:
      - KAFKA_BOOTSTRAP=kafka:9092
      - MONGO_URI=mongodb://mongo:27017
    depends_on: ["kafka", "mongo"]

  scraper2:
    build:
      context: .
      dockerfile: src/scraper/Dockerfile
    environment:
      - KAFKA_BOOTSTRAP=kafka:9092
      - MONGO_URI=mongodb://mongo:27017
    depends_on: ["kafka", "mongo"]

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports: ["9090:9090"]

  grafana:
    image: grafana/grafana
    ports: ["3000:3000"]

volumes:
  mongo-data:
